In [1]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
     |████████████████████████████████| 911kB 4.3MB/s
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.24.3)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [61.8 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [800 kB]
Hit:14 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [450 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [481 kB]
Get:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,415 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,185 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,619 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,772 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,184 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [33.5 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [906 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [40.9 kB]
Get:28 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.6 kB]
Fetched 13.3 MB in 8s (1,599 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  chromium-browser chromium-browser-l10n chromium-codecs-ffmpeg-extra
Suggested packages:
  webaccounts-chromium-extension unity-chromium-extension
The following NEW packages will be installed:
  chromium-browser chromium-browser-l10n chromium-chromedriver
  chromium-codecs-ffmpeg-extra
0 upgraded, 4 newly installed, 0 to remove and 48 not upgraded.
Need to get 86.0 MB of archives.
After this operation, 298 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-codecs-ffmpeg-extra amd64 91.0.4472.77-0ubuntu0.18.04.1 [1,124 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser amd64 91.0.4472.77-0ubuntu0.18.04.1 [76.1 MB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-browser-l10n all 91.0.4472.77-0ubuntu0.18.04.1 [3,948 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 chromium-chromedriver amd64 91.0.4472.77-0ubuntu0.18.04.1 [4,838 kB]
Fetched 86.0 MB in 9s (9,145 kB/s)
Selecting previously unselected package chromium-codecs-ffmpeg-extra.
(Reading database ... 160772 files and directories currently installed.)
Preparing to unpack .../chromium-codecs-ffmpeg-extra_91.0.4472.77-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-codecs-ffmpeg-extra (91.0.4472.77-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser.
Preparing to unpack .../chromium-browser_91.0.4472.77-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-browser (91.0.4472.77-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-browser-l10n.
Preparing to unpack .../chromium-browser-l10n_91.0.4472.77-0ubuntu0.18.04.1_all.deb ...
Unpacking chromium-browser-l10n (91.0.4472.77-0ubuntu0.18.04.1) ...
Selecting previously unselected package chromium-chromedriver.
Preparing to unpack .../chromium-chromedriver_91.0.4472.77-0ubuntu0.18.04.1_amd64.deb ...
Unpacking chromium-chromedriver (91.0.4472.77-0ubuntu0.18.04.1) ...
Setting up chromium-codecs-ffmpeg-extra (91.0.4472.77-0ubuntu0.18.04.1) ...
Setting up chromium-browser (91.0.4472.77-0ubuntu0.18.04.1) ...
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/x-www-browser (x-www-browser) in auto mode
update-alternatives: using /usr/bin/chromium-browser to provide /usr/bin/gnome-www-browser (gnome-www-browser) in auto mode
Setting up chromium-chromedriver (91.0.4472.77-0ubuntu0.18.04.1) ...
Setting up chromium-browser-l10n (91.0.4472.77-0ubuntu0.18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [2]:
import sys
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')

import requests
from selenium import webdriver
from selenium.webdriver.common.by import By

from tensorflow.keras.preprocessing.text import Tokenizer
from scipy.spatial.distance import cosine

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: DeprecationWarning: use options instead of chrome_options

# Подбор навыков под заданную специализацию

Предлагаем пользователю ввести ФИО и выбрать специализацию.  
По специализации парсим вакансии.

In [3]:
data = pd.read_json('https://storage.googleapis.com/terra_ai/Learning_Way/data.json')
data.head()

         id  ...                            key_skills
0  44240210  ...                   [АНАЛИЗ, PYTHON, C]
1  44872776  ...                 [PANDAS, PYTHON, SQL]
2  44350010  ...  [XGBOOST, CATBOOST, SCIKIT-LEARN, C]
3  44322933  ...           [MLOPS, DESIGN, COLLECTION]
4  44322935  ...           [MLOPS, DESIGN, COLLECTION]

[5 rows x 6 columns]

Получаем самые востребованные навыки в данной сфере.

In [20]:
def get_top_skills(vacancy_data):
    skills = vacancy_data['key_skills'].copy()

    tokenizer = Tokenizer(num_words=400)
    tokenizer.fit_on_texts(skills)

    top_skills = list(tokenizer.index_word.values())[:5]

    return top_skills

In [21]:
top_skills = get_top_skills(data)
top_skills

['python', 'sql', 'data mining', 'английский язык', 'c']

Получаем от пользователя информацию о его уровне по этим навыкам (в том числе предлагаем пройти тестирование)

In [24]:
def check_skills(skills):
    skills_level = {}
    for skill in skills:
        level = int(input(f'Ваш уровень по навыку {skill} от 0 до 3: '))
        skills_level[skill] = level

    return skills_level

Введите уровень знаний по каждому из навыков от 0 - 3

In [25]:
user_skills_level = check_skills(top_skills)
user_skills_level

Ваш уровень по навыку python от 0 до 3: 0
Ваш уровень по навыку sql от 0 до 3: 0
Ваш уровень по навыку data mining от 0 до 3: 0
Ваш уровень по навыку английский язык от 0 до 3: 0
Ваш уровень по навыку c от 0 до 3: 0

{'c': 0, 'data mining': 0, 'python': 0, 'sql': 0, 'английский язык': 0}

Находим подходящие курсы по навыку и текущему уровню пользователя

## Парсинг Нетологии

In [26]:
def find_netology_courses(query, level=1):
    level = {0: 'neo', 1: 'neo', 2: 'pro', 3: 'pro'}[level]

    url = "https://netology.ru/backend/api/search/programs"
    response = requests.get(url, params=[('term', query)]).json()['programs']
    courses = list(filter(lambda x: x['educational_level'] is not None and x['educational_level']['slug'] == level, response))
    return pd.DataFrame(courses)

In [27]:
all_courses = {}
for skill, level in user_skills_level.items():
    courses = find_netology_courses(skill, level=level)
    all_courses[skill] = courses

In [28]:
all_courses['sql']

      id    type  ... price_type                                        description
0  19960  online  ...       paid  <p>SQL &mdash; главный инструмент аналитика. Н...
1  21391  online  ...       free  Расскажем, чем SQL полезен аналитику, маркетол...

[2 rows x 33 columns]

## Парсинг Курсеры

In [29]:
# здесь продублировал уровень Advanced, поскольку у нас 4 уровня

def find_coursera_courses(driver, query, page=1, level=1):
    """
    level - 1, 2, 3 (Beginner, Intermediate, Advanced)
    """

    level = {0: 'Beginner', 1: 'Intermediate', 2: 'Advanced', 3: 'Advanced'}[level]

    if page == 1:
        driver.get(f'https://ru.coursera.org/search?query={query}&entityTypeDescription=Courses&index=prod_all_products_term_optimization&productDifficultyLevel={level}&allLanguages=Russian')
    else:
        driver.get(f'https://ru.coursera.org/search?query={query}&entityTypeDescription=Courses&page={page}&index=prod_all_products_term_optimization&productDifficultyLevel={level}&allLanguages=Russian')
    time.sleep(2)
    driver.save_screenshot('img.png')
    elements = driver.find_elements(By.CLASS_NAME, 'ais-InfiniteHits-item')
    print(f'Found {len(elements)} courses')
    courses = []
    for i, element in enumerate(elements):
        element.screenshot(f'img{i}.png')
        # print(i)
        try:
            link = element.find_element(By.TAG_NAME, 'a').get_attribute('href')
            title = element.find_element(By.CLASS_NAME, 'card-title').text
            difficulty = element.find_element(By.CLASS_NAME, 'difficulty').text
            author = element.find_element(By.CLASS_NAME, 'partner-name').text
            rate = element.find_element(By.CLASS_NAME, 'ratings-text').text

            courses.append({
                'title': title,
                'difficulty': difficulty,
                'rate': rate,
                'author': author,
                'link': link,
            })
        except Exception as e:
            # print(e)
            pass
    data = pd.DataFrame(courses)
    return data

In [30]:
all_courses = {}
for skill, level in user_skills_level.items():
    courses = find_coursera_courses(driver, skill, page=1, level=level)
    all_courses[skill] = courses

Found 10 courses
Found 10 courses
Found 10 courses
Found 8 courses
Found 10 courses

In [31]:
all_courses['python']

                                               title  ...                                               link
0                               Python for Everybody  ...     https://ru.coursera.org/specializations/python
1                   Google IT Automation with Python  ...  https://ru.coursera.org/professional-certifica...
2                               Python 3 Programming  ...  https://ru.coursera.org/specializations/python...
3                   Applied Data Science with Python  ...  https://ru.coursera.org/specializations/data-s...
4                             Crash Course on Python  ...  https://ru.coursera.org/learn/python-crash-course
5                                   IBM Data Science  ...  https://ru.coursera.org/professional-certifica...
6  Programming for Everybody (Getting Started wit...  ...               https://ru.coursera.org/learn/python
7      Data Science Fundamentals with Python and SQL  ...  https://ru.coursera.org/specializations/data-s...
8                                   IBM Data Analyst  ...  https://ru.coursera.org/professional-certifica...

[9 rows x 5 columns]

# Подбор вакансии по навыкам пользователя

Также предлагаем пользователю ввести ФИО и выбрать специализацию. И сразу получаем от него навыки и их оценки.

In [32]:
user_data = {'name': 'Иванов Иван Иванович',
             'specialization': 'Data Science',
             'skills': {'PYTHON': 2,
                        'CATBOOST': 1,
                        'PANDAS': 2,
                        'TENSORFLOW': 1}
             }

Парсим вакансии и считаем косинусное расстояние между навыками пользователя и каждой вакансией.  
Возвращаем отранжированный список.

In [33]:
def calculate_distance(skills, user_skills):
    cos_dist = []
    for s in skills:
        cos_dist.append(cosine(user_skills, s))
    cos_dist = np.array(cos_dist)
    return cos_dist

In [34]:
def get_actual_vacancy(vacancy_data, user_data):
    skills = vacancy_data['key_skills'].copy()

    # токенизация навыков
    tokenizer = Tokenizer(num_words=400)
    tokenizer.fit_on_texts(skills)

    bow_skills = tokenizer.texts_to_matrix(skills)
    user_skills = list(user_data['skills'].keys())
    bow_user_skills = tokenizer.texts_to_matrix([user_skills])

    # расчет косинусного расстояния навыков пользователя до навыков вакансий
    cos_dist = calculate_distance(bow_skills, bow_user_skills)

    # выбор актуальных вакансий
    actual_vacancy = vacancy_data.iloc[np.argsort(cos_dist)[:5]]

    return actual_vacancy

In [36]:
actual_vacancy = get_actual_vacancy(data, user_data)

/usr/local/lib/python3.7/dist-packages/scipy/spatial/distance.py:720: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - uv / np.sqrt(uu * vv)

Показываем пользователю вакансии

In [37]:
actual_vacancy

           id  ...                                    key_skills
1    44872776  ...                         [PANDAS, PYTHON, SQL]
23   44413603  ...                         [ERP, PANDAS, PYTHON]
266  38795381  ...                                      [PYTHON]
379  43505794  ...                                      [PYTHON]
387  44364228  ...  [PYTHON, TENSORFLOW, KERAS, АНГЛИЙСКИЙ ЯЗЫК]

[5 rows x 6 columns]

По каждой вакансии есть возможность посмотреть какие курсы можно пройти, чтобы еще лучше ей соответствовать.  
Для этого также парсим образовательные платформы по навыкам пользователя + недостающим навыкам из вакансии.  

Можно добавить возможность дооценить недостающие навыки, если у пользователя они есть, но ранее он их не указал.

In [38]:
update_skills = user_data['skills']
for skill in actual_vacancy.key_skills[1]:
    if skill not in update_skills:
        update_skills[skill] = 0

In [39]:
update_skills

{'CATBOOST': 1, 'PANDAS': 2, 'PYTHON': 2, 'SQL': 0, 'TENSORFLOW': 1}

Нетология

In [40]:
all_courses = {}
for skill, level in update_skills.items():
    courses = find_netology_courses(skill, level=level)
    all_courses[skill] = courses

In [41]:
all_courses['PYTHON']

      id    type  ... price_type                                        description
0  21376  online  ...       paid  <p>- Освойте одну из самых востребованных IT-п...

[1 rows x 32 columns]

Coursera

In [42]:
all_courses = {}
for skill, level in update_skills.items():
    courses = find_coursera_courses(driver, skill, page=1, level=level)
    all_courses[skill] = courses

Found 10 courses
Found 21 courses
Found 10 courses
Found 10 courses
Found 10 courses

In [43]:
all_courses['PANDAS']

                                              title  ...                                               link
0                  Applied Data Science with Python  ...  https://ru.coursera.org/specializations/data-s...
1                                  IBM Data Analyst  ...  https://ru.coursera.org/professional-certifica...
2          Python for Data Analysis: Pandas & NumPy  ...  https://ru.coursera.org/projects/python-for-da...
3  Exploratory Data Analysis With Python and Pandas  ...  https://ru.coursera.org/projects/exploratory-d...
4            Introduction to Data Science in Python  ...  https://ru.coursera.org/learn/python-data-anal...
5                              Applied Data Science  ...  https://ru.coursera.org/specializations/applie...
6                         Data Analysis with Python  ...  https://ru.coursera.org/learn/data-analysis-wi...
7                COVID19 Data Analysis Using Python  ...  https://ru.coursera.org/projects/covid19-data-...
8                        Data Analysis Using Python  ...  https://ru.coursera.org/learn/data-analysis-py...
9        Python Pandas Basics: Load and Export Data  ...  https://ru.coursera.org/projects/python-pandas...

[10 rows x 5 columns]