In [ ]:
!pip install selenium
!apt-get update # to update ubuntu to correctly run apt install
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

In [ ]:
import sys
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')

import requests
from selenium import webdriver
from selenium.webdriver.common.by import By

from tensorflow.keras.preprocessing.text import Tokenizer
from scipy.spatial.distance import cosine

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: DeprecationWarning: use options instead of chrome_options

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Подбор навыков под заданную специализацию

Предлагаем пользователю ввести ФИО и выбрать специализацию.  
По специализации парсим вакансии.

In [ ]:
data = pd.read_json('/content/drive/MyDrive/Хакатон/MCH/data.json')
data.head()

         id  ...                            key_skills
0  44240210  ...                   [АНАЛИЗ, PYTHON, C]
1  44872776  ...                 [PANDAS, PYTHON, SQL]
2  44350010  ...  [XGBOOST, CATBOOST, SCIKIT-LEARN, C]
3  44322933  ...           [MLOPS, DESIGN, COLLECTION]
4  44322935  ...           [MLOPS, DESIGN, COLLECTION]

[5 rows x 6 columns]

Получаем самые востребованные навыки в данной сфере.

In [ ]:
def get_top_skills(vacancy_data):
    skills = vacancy_data['key_skills'].copy()

    tokenizer = Tokenizer(num_words=400)
    tokenizer.fit_on_texts(skills)

    top_skills = list(tokenizer.index_word.values())[:10]

    return top_skills

In [ ]:
top_skills = get_top_skills(data)
top_skills

['python',
 'sql',
 'data mining',
 'английский язык',
 'c',
 'c++',
 'linux',
 'data science',
 'java',
 'hadoop']

Получаем от пользователя информацию о его уровне по этим навыкам (в том числе предлагаем пройти тестирование)

In [ ]:
def check_skills(skills):
    skills_level = {}
    for skill in skills:
        level = int(input(f'Ваш уровень по навыку {skill}: '))
        skills_level[skill] = level

    return skills_level

In [ ]:
user_skills_level = check_skills(top_skills)
user_skills_level

Ваш уровень по навыку python: 2
Ваш уровень по навыку sql: 1
Ваш уровень по навыку data mining: 1
Ваш уровень по навыку английский язык: 1
Ваш уровень по навыку c: 0
Ваш уровень по навыку c++: 0
Ваш уровень по навыку linux: 0
Ваш уровень по навыку data science: 1
Ваш уровень по навыку java: 0
Ваш уровень по навыку hadoop: 0

{'c': 0,
 'c++': 0,
 'data mining': 1,
 'data science': 1,
 'hadoop': 0,
 'java': 0,
 'linux': 0,
 'python': 2,
 'sql': 1,
 'английский язык': 1}

Находим подходящие курсы по навыку и текущему уровню пользователя

## Парсинг Нетологии

In [ ]:
def find_netology_courses(query, level=1):
    level = {0: 'neo', 1: 'neo', 2: 'pro', 3: 'pro'}[level]

    url = "https://netology.ru/backend/api/search/programs"
    response = requests.get(url, params=[('term', query)]).json()['programs']
    courses = list(filter(lambda x: x['educational_level'] is not None and x['educational_level']['slug'] == level, response))
    return pd.DataFrame(courses)

In [ ]:
all_courses = {}
for skill, level in user_skills_level.items():
    courses = find_netology_courses(skill, level=level)
    all_courses[skill] = courses

In [ ]:
all_courses['sql']

      id    type  ... price_type                                        description
0  19960  online  ...       paid  <p>SQL &mdash; главный инструмент аналитика. Н...
1  21391  online  ...       free  Расскажем, чем SQL полезен аналитику, маркетол...

[2 rows x 33 columns]

## Парсинг Курсеры

In [ ]:
# здесь продублировал уровень Advanced, поскольку у нас 4 уровня

def find_coursera_courses(driver, query, page=1, level=1):
    """
    level - 1, 2, 3 (Beginner, Intermediate, Advanced)
    """

    level = {0: 'Beginner', 1: 'Intermediate', 2: 'Advanced', 3: 'Advanced'}[level]

    if page == 1:
        driver.get(f'https://ru.coursera.org/search?query={query}&entityTypeDescription=Courses&index=prod_all_products_term_optimization&productDifficultyLevel={level}&allLanguages=Russian')
    else:
        driver.get(f'https://ru.coursera.org/search?query={query}&entityTypeDescription=Courses&page={page}&index=prod_all_products_term_optimization&productDifficultyLevel={level}&allLanguages=Russian')
    time.sleep(2)
    driver.save_screenshot('img.png')
    elements = driver.find_elements(By.CLASS_NAME, 'ais-InfiniteHits-item')
    print(f'Found {len(elements)} courses')
    courses = []
    for i, element in enumerate(elements):
        element.screenshot(f'img{i}.png')
        # print(i)
        try:
            link = element.find_element(By.TAG_NAME, 'a').get_attribute('href')
            title = element.find_element(By.CLASS_NAME, 'card-title').text
            difficulty = element.find_element(By.CLASS_NAME, 'difficulty').text
            author = element.find_element(By.CLASS_NAME, 'partner-name').text
            rate = element.find_element(By.CLASS_NAME, 'ratings-text').text

            courses.append({
                'title': title,
                'difficulty': difficulty,
                'rate': rate,
                'author': author,
                'link': link,
            })
        except Exception as e:
            # print(e)
            pass
    data = pd.DataFrame(courses)
    return data

In [ ]:
all_courses = {}
for skill, level in user_skills_level.items():
    courses = find_coursera_courses(driver, skill, page=1, level=level)
    all_courses[skill] = courses

Found 10 courses
Found 10 courses
Found 10 courses
Found 8 courses
Found 10 courses
Found 10 courses
Found 10 courses
Found 10 courses
Found 10 courses
Found 10 courses

In [ ]:
all_courses['python']

                                               title  ...                                               link
0                               Python for Everybody  ...     https://ru.coursera.org/specializations/python
1                   Google IT Automation with Python  ...  https://ru.coursera.org/professional-certifica...
2                               Python 3 Programming  ...  https://ru.coursera.org/specializations/python...
3                   Applied Data Science with Python  ...  https://ru.coursera.org/specializations/data-s...
4                             Crash Course on Python  ...  https://ru.coursera.org/learn/python-crash-course
5                                   IBM Data Science  ...  https://ru.coursera.org/professional-certifica...
6  Programming for Everybody (Getting Started wit...  ...               https://ru.coursera.org/learn/python
7      Data Science Fundamentals with Python and SQL  ...  https://ru.coursera.org/specializations/data-s...
8                                   IBM Data Analyst  ...  https://ru.coursera.org/professional-certifica...

[9 rows x 5 columns]

# Подбор вакансии по навыкам пользователя

Также предлагаем пользователю ввести ФИО и выбрать специализацию. И сразу получаем от него навыки и их оценки.

In [ ]:
user_data = {'name': 'Иванов Иван Иванович',
             'specialization': 'Data Science',
             'skills': {'PYTHON': 2,
                        'CATBOOST': 1,
                        'PANDAS': 2,
                        'TENSORFLOW': 1}
             }

Парсим вакансии и считаем косинусное расстояние между навыками пользователя и каждой вакансией.  
Возвращаем отранжированный список.

In [ ]:
def calculate_distance(skills, user_skills):
    cos_dist = []
    for s in skills:
        cos_dist.append(cosine(user_skills, s))
    cos_dist = np.array(cos_dist)
    return cos_dist

In [ ]:
def get_actual_vacancy(vacancy_data, user_data):
    skills = vacancy_data['key_skills'].copy()

    # токенизация навыков
    tokenizer = Tokenizer(num_words=400)
    tokenizer.fit_on_texts(skills)

    bow_skills = tokenizer.texts_to_matrix(skills)
    user_skills = list(user_data['skills'].keys())
    bow_user_skills = tokenizer.texts_to_matrix([user_skills])

    # расчет косинусного расстояния навыков пользователя до навыков вакансий
    cos_dist = calculate_distance(bow_skills, bow_user_skills)

    # выбор актуальных вакансий
    actual_vacancy = vacancy_data.iloc[np.argsort(cos_dist)[:5]]

    return actual_vacancy

In [ ]:
actual_vacancy = get_actual_vacancy(data, user_data)

Показываем пользователю вакансии

In [ ]:
actual_vacancy

           id  ...                                    key_skills
1    44872776  ...                         [PANDAS, PYTHON, SQL]
23   44413603  ...                         [ERP, PANDAS, PYTHON]
266  38795381  ...                                      [PYTHON]
379  43505794  ...                                      [PYTHON]
387  44364228  ...  [PYTHON, TENSORFLOW, KERAS, АНГЛИЙСКИЙ ЯЗЫК]

[5 rows x 6 columns]

По каждой вакансии есть возможность посмотреть какие курсы можно пройти, чтобы еще лучше ей соответствовать.  
Для этого также парсим образовательные платформы по навыкам пользователя + недостающим навыкам из вакансии.  

Можно добавить возможность дооценить недостающие навыки, если у пользователя они есть, но ранее он их не указал.

In [ ]:
update_skills = user_data['skills']
for skill in actual_vacancy.key_skills[1]:
    if skill not in update_skills:
        update_skills[skill] = 0

In [ ]:
update_skills

{'CATBOOST': 1, 'PANDAS': 2, 'PYTHON': 2, 'SQL': 0, 'TENSORFLOW': 1}

Нетология

In [ ]:
all_courses = {}
for skill, level in update_skills.items():
    courses = find_netology_courses(skill, level=level)
    all_courses[skill] = courses

In [ ]:
all_courses['PYTHON']

      id    type  ... price_type                                        description
0  21376  online  ...       paid  <p>- Освойте одну из самых востребованных IT-п...

[1 rows x 32 columns]

Coursera

In [ ]:
all_courses = {}
for skill, level in update_skills.items():
    courses = find_coursera_courses(driver, skill, page=1, level=level)
    all_courses[skill] = courses

Found 10 courses
Found 21 courses
Found 10 courses
Found 10 courses
Found 10 courses

In [ ]:
all_courses['PANDAS']

                                              title  ...                                               link
0                  Applied Data Science with Python  ...  https://ru.coursera.org/specializations/data-s...
1                                  IBM Data Analyst  ...  https://ru.coursera.org/professional-certifica...
2          Python for Data Analysis: Pandas & NumPy  ...  https://ru.coursera.org/projects/python-for-da...
3  Exploratory Data Analysis With Python and Pandas  ...  https://ru.coursera.org/projects/exploratory-d...
4            Introduction to Data Science in Python  ...  https://ru.coursera.org/learn/python-data-anal...
5                COVID19 Data Analysis Using Python  ...  https://ru.coursera.org/projects/covid19-data-...
6                              Applied Data Science  ...  https://ru.coursera.org/specializations/applie...
7                         Data Analysis with Python  ...  https://ru.coursera.org/learn/data-analysis-wi...
8                        Data Analysis Using Python  ...  https://ru.coursera.org/learn/data-analysis-py...
9        Python Pandas Basics: Load and Export Data  ...  https://ru.coursera.org/projects/python-pandas...

[10 rows x 5 columns]